= link_to image_tag( 'facebook-sign-in-button.png'), 'auth/facebook', rel: "external"  

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
%script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
:javascript
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5479990040644502",
    enable_page_level_ads: true
  });
