#print_article.html.erb

<h3 style="text-align:center;">รายงานการจองโรงแรม</h3>
<h3 style="text-align:center;">รายงานการจองโรงแรม</h3>

<table border="0" cellspacing="5" cellpadding="5" style="width:100%">
  <tr style="color:white; background-color:#6A6A6A;">
    <th>ลำดับ</th>
    <th>วันที่จอง</th>
    <th>โรงแรม</th>
    <th>ลูกค้า</th>
    <th>วันที่เข้าพัก</th>
  </tr>
  <% i= 1 %>

</table>
